/*-------------------------------------------------------------------------------------------- Landscape */
@media screen and (min-width: 480px) and (max-width: 639px) {
  .contact-map {
    height: 35%;
  }
  /* IPhone SE OLD LANDSCAPE */
  @media (max-height: 323px) {
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.6rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.65rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.75rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.9rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1rem;
    }
    .about-quote-box {
      font-size: 0.85rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.2rem;
    }
    .we-are-here {
      font-size: 0.8rem;
    }
    .contact-reachus {
      font-size: 1.2rem;
    }
    .contact-link {
      font-size: 0.7rem;
    }
    .social-link {
      font-size: 0.75rem;
    }
    .contact-social-link {
      font-size: 0.75rem;
    }
    .about-title-otwd {
      font-size: 3rem;
    }
    /*---------------------------FONT-------------------------*/
  }
  @media (min-height: 324px) and (max-height: 669px) {
    /* WINDOW GAP */
    /*-------------------------------------SPACE ADJUSTMENT------*/
    .contact-intro {
      display: none;
    }
    .contact-channel-container {
      width: 30%;
    }
    .contact-us-group {
      width: 90%;
      height: 90%;
      padding: 5%;
    }
    .contact-address-container {
      width: 70%;
    }
    .hub-group,
    .form-group {
      width: 80%;
    }
    /*-------------------------------------SPACE ADJUSTMENT------*/
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.65rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.7rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.8rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.95rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1.05rem;
    }
    .about-quote-box {
      font-size: 0.9rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.25rem;
    }
    .we-are-here {
      font-size: 0.85rem;
    }
    .contact-reachus {
      font-size: 1.2rem;
    }
    .contact-link {
      font-size: 0.75rem;
    }
    .social-link {
      font-size: 0.8rem;
    }
    .contact-social-link {
      font-size: 0.8rem;
    }
    .about-title-otwd {
      font-size: 3.25rem;
    }
    /*---------------------------FONT-------------------------*/
  }
  @media (min-height: 670px) {
    /* WINDOW GAP */
    /*-------------------------------------SPACE ADJUSTMENT------*/
    .contact-intro {
      display: none;
    }
    .contact-channel-container {
      width: 30%;
    }
    .contact-us-group {
      width: 90%;
      height: 90%;
      padding: 5%;
    }
    .contact-address-container {
      width: 70%;
    }
    .hub-group,
    .form-group {
      width: 80%;
    }
    /*-------------------------------------SPACE ADJUSTMENT------*/
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.675rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.7rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.825rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.975rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1.075rem;
    }
    .about-quote-box {
      font-size: 0.925rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.275rem;
    }
    .we-are-here {
      font-size: 0.875rem;
    }
    .contact-reachus {
      font-size: 1.275rem;
    }
    .contact-link {
      font-size: 0.775rem;
    }
    .social-link {
      font-size: 0.825rem;
    }
    .contact-social-link {
      font-size: 0.825rem;
    }
    .about-title-otwd {
      font-size: 2.8rem;
    }
    /*---------------------------FONT-------------------------*/
  }
}

@media screen and (min-width: 640px) and (max-width: 766px) {
  /* Galaxy FOLD */
  @media (max-height: 280px) {
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.65rem;
    }
    .about-weare-group,
    .contact-quote {
      font-size: 0.675rem;
    }
    .contact-type-button {
      font-size: 0.6rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.7rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.7rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 0.85rem;
    }
    .about-quote-box {
      font-size: 1.1rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.1rem;
    }
    .we-are-here {
      font-size: 0.75rem;
    }
    .contact-reachus {
      font-size: 1.2rem;
    }
    .contact-link {
      font-size: 0.7rem;
    }
    .social-link {
      font-size: 0.75rem;
    }
    .contact-social-link {
      font-size: 0.95rem;
    }
    .about-title-otwd {
      font-size: 3.2rem;
    }
  }
  /* Galaxy S8+, IPhone SE NEW,IPHONE 6,7,8,  */
  @media (min-height: 281px) and (max-height: 413px) {
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.65rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.65rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.85rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.85rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 0.95rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.2rem;
    }
    .we-are-here {
      font-size: 0.75rem;
    }
    .contact-reachus {
      font-size: 1.2rem;
    }
    .contact-link {
      font-size: 0.8rem;
    }
    .social-link {
      font-size: 0.85rem;
    }
    .contact-social-link {
      font-size: 1rem;
    }
    .about-quote-box {
      font-size: 1.25rem;
    }
    .about-title-otwd {
      font-size: 3.5rem;
    }
    /*---------------------------FONT-------------------------*/
  }
  /* IPHONE 6+,7+,8+ */
  @media (min-height: 414px) and (max-height: 1110px) {
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.65rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.8rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.9rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.9rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1rem;
    }
    .about-quote-box {
      font-size: 1.5rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.5rem;
    }
    .we-are-here {
      font-size: 0.9rem;
    }
    .contact-reachus {
      font-size: 1.25rem;
    }
    .contact-link {
      font-size: 0.8rem;
    }
    .social-link {
      font-size: 0.85rem;
    }
    .contact-social-link {
      font-size: 1rem;
    }
    .about-title-otwd {
      font-size: 3.5rem;
    }
  }

  /* Surface DUO Open Landscape */
  @media (min-height: 1110px) {
    /* ... */
  }
}
@media screen and (min-width: 767px) and (max-width: 1022px) {
  .contact-map {
    height: 35%;
  }
  /* IPhoneXR, IPhone 12 PRO, Pixel 7, Galaxy S8+, Galaxy S20 ultra, Galaxy A51/71 LANDSCAPE */
  @media (max-height: 420px) {
    /*---------------------------FONT-------------------------*/
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.75rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.85rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.95rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 0.95rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1.05rem;
    }
    .about-quote-box {
      font-size: 1.5rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.75rem;
    }
    .we-are-here {
      font-size: 0.85rem;
    }
    .contact-reachus {
      font-size: 1.3rem;
    }
    .contact-link {
      font-size: 0.8rem;
    }
    .social-link {
      font-size: 0.95rem;
    }
    .contact-social-link {
      font-size: 1.15rem;
    }
    .about-title-otwd {
      font-size: 3.5rem;
    }
    /*---------------------------FONT-------------------------*/
  }

  /* IPhone 14 PRO MAX */
  @media (min-height: 421px) and (max-height: 767px) {
    .about-service-box span {
      padding: 1.25%;
      font-size: 0.75rem;
    }
    .about-weare-group,
    .contact-quote,
    .contact-type-button {
      font-size: 0.85rem;
    }
    .about-weare-headline,
    .contact-email {
      font-size: 0.95rem;
    }
    .input-group,
    .input-group textarea {
      font-size: 1rem;
    }
    .input-group input,
    .submit-group button {
      font-size: 1.15rem;
    }
    .about-quote-box {
      font-size: 1.5rem;
    }
    .left-arrow,
    .right-arrow,
    .about-intro,
    .contact-intro {
      font-size: 1.75rem;
    }
    .we-are-here {
      font-size: 0.85rem;
    }
    .contact-reachus {
      font-size: 1.3rem;
    }
    .contact-link {
      font-size: 0.8rem;
    }
    .social-link {
      font-size: 0.95rem;
    }
    .contact-social-link {
      font-size: 1.15rem;
    }
    .about-title-otwd {
      font-size: 3.5rem;
    }
  }

  /* IPAD Air, Surface PRO 7, IPad Portrait */
  @media (min-height: 768px) and (max-height: 1370px) {
    /* ... */
  }
}
