/*--------------------START ABOUT MAIN CONTAINER----------------*/
.about-container {
  flex: 1;
  overflow-x: hidden;
  position: relative;
  display: flex;
  user-select: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 90vw;
  height: 94vh;
  display: flex;
  border-bottom: 1vh solid #171717;
}
.about-content {
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 2s all ease;
}
/*--------------------END ABOUT MAIN CONTAINER----------------*/
/*--------------------START about-panel ----------------*/
.about-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #6c757d;
}
#about-panel {
  /* width: 90%;
  padding: 0 5% 5% 5%; */
}
#contact-panel {
}
.about-to-right,
.about-to-left {
  cursor: pointer;
}
/*--------------------END about-panel ----------------*/
/*--------------------START about-intro ----------------*/
.about-intro {
  width: 92%;
  height: auto;
  padding: 0 4% 4% 4%;
  /* background-color: #6c757d; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 5rem;
  border-bottom: 1px solid #343a40;
}
.about-otwd-group {
  width: 90%;
  padding: 5%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #495057;
}
/*--------------------END about-intro ----------------*/
/*--------------------------------------START about-service ---------------------------------*/
/*-------------- START about WEARE n SERVICE ----------------*/
.about-weare-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  font-size: 1.1rem;
}
.about-weare-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #dee2e6;
}
.about-weare-box p:not(.about-weare-headline) {
  padding-right: 5%;
  border-right: 2px solid black;
}
.about-weare-headline {
  font-size: 1.4rem;
}
.about-service-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}
.about-service-box span {
  margin-right: 2%;
  padding: 0.2% 1% 0.2% 1%;
  cursor: pointer;
  color: #dee2e6;
  background-color: #495057;
  border: 2px solid #dee2e6;
}
.about-service-box span:hover {
  color: black;
  background-color: #495057;
  border: 2px solid black;
}
/*-------------- END about WEARE n SERVICE ----------------*/
/*-------------- START about TITLE ----------------*/
.about-title-group {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-family: "UbuntuBold";
  width: 100%;
}
.right-arrow {
  text-align: right;
  width: auto;
  font-size: 2rem;
  cursor: pointer;
  background-color: #dee2e6;
  color: #171717;
  padding: 1% 2% 1% 2%;
  border-radius: 20%;
  margin: 1% 0 2% 0;
}
.right-arrow:hover {
  background-color: #171717;
  color: #dee2e6;
}
.about-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-title-tag {
  font-size: 0.6rem;
  font-weight: bolder;
  width: 120%;
  transform: rotate(-90deg);
  padding-top: 6%;
  font-family: "Ubuntu";
}
.about-title-otwd {
  text-align: right;
  width: 100%;
  font-size: 7rem;
  letter-spacing: -4px;
  line-height: 90%;
  font-weight: bolder;
  font-family: "Ubuntu";
}
.on-the-warp-drive {
  margin-top: 1%;
  text-align: right;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Ubuntu";
  color: #171717;
}
.about-quote-box {
  margin-top: 1%;
  text-align: right;
  width: 100%;
  font-size: 2.8rem;
  color: #e9ecef;
  line-height: 100%;
  font-family: "Ubuntu";
}
/*-------------- END about TITLE ----------------*/
/*--------------------------------------END about-service ---------------------------------*/
/*--------------------------------------START contact-panel -------------------------------*/
/*----------------START contact-channel-container -------------*/
.contact-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #495057;
  margin: 0;
  padding: 0;
}
.contact-channel-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.contact-intro {
  width: 42%;
  height: 92%;
  padding: 4%;
  background-color: #6c757d;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.contact-us-group {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contact-reachus-box {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.left-arrow {
  text-align: right;
  width: auto;
  font-size: 2rem;
  cursor: pointer;
  background-color: #e9ecef;
  color: #171717;
  padding: 1% 2% 1% 2%;
  border-radius: 20%;
  margin: 2% 5% 0 0;
}
.left-arrow:hover {
  background-color: #171717;
  color: #e9ecef;
}
.contact-reachus {
  font-weight: 900;
  text-align: right;
  font-size: 3rem;
  line-height: 100%;
}
.contact-tag {
  margin-top: 6%;
  font-size: 0.6rem;
  width: auto;
  transform: rotate(-90deg);
  font-family: "Ubuntu";
  font-weight: bolder;
}
.contact-type-box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 5%;
}
.contact-quote {
  border-top: 2px solid #171717;
  border-bottom: 2px solid #171717;
  padding: 5% 0 5% 0;
  font-size: 1.1rem;
}
.contact-type-button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contact-type-button {
  font-size: 1.2rem;
  padding: 4%;
  margin: 2% 0% 2% 0;
  cursor: pointer;
  background-color: #e9ecef;
  color: #171717;
  border: 2px solid #171717;
}
.contact-type-button:hover {
  background-color: #171717;
  color: #e9ecef;
  border: 2px solid #171717;
}
.contactTypeButtonActive {
  background-color: #171717;
  color: #e9ecef;
  border: 2px solid #e9ecef;
  cursor: default;
  pointer-events: none;
}
/*----------------END contact-channel-container -------------*/
/**----------START contact-address-container----------------**/
.contact-address-container {
  width: 50%;
  height: 100%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.form-hub-slide-group {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.fourtyPercentSpace {
  visibility: hidden;
  height: 0;
  width: 0;
  background-color: red;
}
/*---------------------------START CONTACT HUB----------------*/
.hub-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 95vh;
  color: #dee2e6;
}
.we-are-here {
  font-size: 1.2rem;
  margin-bottom: 2%;
}
/*-----------------------START-map------------*/
.contact-map {
  width: 100%;
  height: 40%;
}
.map {
  height: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
.contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
/*-----------------------END-map------------*/
/*-----------------------START-email------------*/
.contact-email {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otwd-email {
  font-weight: bolder;
}
.gap {
  margin: 0 2% 0 2%;
  width: 100%;
  border-bottom: 1px dashed #dee2e6;
}
/*-----------------------END-email------------*/
/*-----------------------START-sociallink------------*/
.contact-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 2% 0 2% 0;
}
.contact-link-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
.contact-link div:last-child {
  margin-bottom: 0;
}
.contact-link div a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.contact-social-link {
  width: auto;
  font-size: 1.6rem;
  cursor: pointer;
  color: #dee2e6;
}
.social-link {
  margin-left: 10%;
  font-size: 1.2rem;
  color: #dee2e6;
}
/*-----------------------END-sociallink------------*/
/*---------------------------END CONTACT HUB----------------*/
/*---------------------------START CONTACT FORM----------------*/
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 95vh;
}
.input-group {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #dee2e6;
  font-size: 1.4rem;
}
.input-group label {
  width: 100%;
}
.input-group input {
  width: 96%;
  margin: 1% 0 1% 0;
  padding: 2%;
  border: none;
  background-color: #495057;
  color: #dee2e6;
  font-size: 1.6rem;
}
.input-group input:focus {
  background-color: #dee2e6;
  color: #171717;
  outline: none;
}
.input-group textarea {
  width: 96%;
  margin: 1% 0 1% 0;
  padding: 2%;
  border: none;
  background-color: #495057;
  color: #dee2e6;
  font-size: 1.4rem;
}
.input-group textarea:focus {
  background-color: #dee2e6;
  color: #171717;
  outline: none;
}
.submit-group {
  width: 100%;
  margin: 4% 0 1% 0;
}
.submit-group button {
  width: 100%;
  font-size: 1.4rem;
  padding: 5% 0 5% 0;
  background-color: black;
  border: none;
  color: #adb5bd;
  cursor: pointer;
  border: 2px solid #adb5bd;
}
.submit-group button:hover {
  background-color: #adb5bd;
  color: #171717;
  border: 2px solid #adb5bd;
  font-weight: bold;
}
/*---------------------------END CONTACT FORM----------------*/
/**----------END contact-address-container----------------**/
/*--------------------------------------END contact-panel -------------------------------*/
.reveal-item {
  width: 80%;
  padding: 20px;
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
/*-----------------END about SECTION--------------------*/
/*-----------------START MEDIA RESPONSIVE--------------------*/
@media (max-width: 768px) {
  /*----------ABOUT---------*/
  .about-intro {
    font-size: 2.8rem;
  }
  .about-content {
    flex-direction: column;
  }
  .about-otwd-group {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    padding: 0 5% 5% 5%;
  }
  /*-------------- START about TITLE ----------------*/
  .about-title-group {
    margin-bottom: 0;
  }
  .right-arrow {
    margin-top: 5%;
    order: 3;
    font-size: 1.6rem;
  }
  .about-title-tag {
    font-size: 0.6rem;
  }
  .about-title-otwd {
    font-size: 5rem;
  }
  .on-the-warp-drive {
    margin-top: 1;
    margin-bottom: 1%;
    font-size: 1rem;
  }
  .about-quote-box {
    font-size: 2rem;
  }
  /*-------------- END about TITLE ----------------*/
  /*-------------- START about WEARE n SERVICE ----------------*/
  .about-weare-group {
    font-size: 1rem;
    text-align: start;
    text-justify: inter-word;
    margin: 5% 0 10% 0;
  }

  .about-weare-box p:not(.about-weare-headline) {
    padding: 0;
    border: none;
  }
  .about-weare-headline {
    font-size: 1.2rem;
  }
  .about-service-box {
    align-items: center;
    justify-content: start;
    margin-top: 2%;
  }
  .about-service-box span {
    font-size: 1.1rem;
    padding: 2%;
    margin: 1% 2% 1% 0;
    flex-grow: 1;
    text-align: center;
  }
  .about-service-box span:last-child {
    margin-right: 0;
    padding-right: 0;
  }

  /*-------------- END about WEARE n SERVICE ----------------*/
  /*----------CONTACT---------*/
  .contact-panel {
    flex-direction: column;
  }
  .contact-intro {
    display: none;
  }
  .contact-channel-container {
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: 2;
    top: 0;
    overflow: hidden;
  }
  /*----------------ccwcwcwcwcw----------------------*/
  .contact-us-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: #171717;
    border-bottom: 2px dotted #dee2e6;
  }
  .contact-reachus-box {
    margin-top: 10%;
    display: flex;
    justify-content: end;
    align-items: start;
    width: 100%;
    color: #dee2e6;
  }
  .left-arrow {
    font-size: 1.6rem;
  }
  .contact-reachus {
    font-weight: 900;
    text-align: right;
    font-size: 2.5rem;
    line-height: 100%;
  }
  .contact-type-box {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 5%;
    color: #dee2e6;
  }
  .contact-quote {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    font-size: 1rem;
  }
  .contact-type-button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }
  .contact-type-button {
    font-size: 1.1rem;
    padding: 2%;
    margin: 1% 0% 1% 0;
    background-color: #171717;
    color: #dee2e6;
    border: 2px solid #dee2e6;
  }
  #otwdHubButton {
    margin-right: 1%;
  }
  #writeUsButton {
    margin-left: 1%;
  }
  .contact-type-button:hover {
    background-color: #171717;
    color: #dee2e6;
    border: 2px solid wheat;
  }
  .contactTypeButtonActive {
    background-color: #dee2e6;
    color: #171717;
    border: 2px solid #dee2e6;
  }
  /*----------------ccwcwcwcwcw----------------------*/
  .contact-address-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: #E8C4C4 ; */
  }
  .fourtyPercentSpace {
    width: 100%;
    height: 45vh;
    display: block;
    top: 0;
  }
  /*-------------------------------HUB-------------*/
  .hub-group {
    width: 85%;
    height: 50vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .we-are-here {
    display: none;
    margin-bottom: 0;
  }
  .contact-map {
    width: 100%;
    height: 50%;
    border: 2px solid #171717;
  }
  .contact-email {
    font-size: 1.2rem;
    width: 100%;
    margin: 8% 0 8% 0;
    justify-content: center;
  }
  .gap {
    display: none;
  }
  .envelope-mail {
    margin-right: 4%;
  }
  .contact-link {
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 0;
    width: 100%;
    border-top: 1px dotted #dee2e6;
    border-bottom: 1px dotted #dee2e6;
  }
  .contact-link div {
    margin-bottom: 0;
    justify-content: center;
  }
  .contact-link-text {
    display: none;
  }

  .contact-social-link {
    font-size: 2.4rem;
    padding: 0;
    color: #dee2e6;
  }
  .social-link {
    margin: 0;
    display: none;
  }
  /*-------------------------------HUB-------------*/
  /*------------------------------START-FORM-------------*/
  .form-group {
    width: 85%;
    height: 50vh;
  }
  .input-group {
    font-size: 1rem;
  }
  /*------------------------------END-FORM-------------*/
}
/*-----------------END MEDIA RESPONSIVE--------------------*/
