.about-container {
  flex: 1;
  overflow-x: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 90%;
  height: 94%;
  display: flex;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #dee2e6;
}
.about-content {
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 2s all ease;
}
.about-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #6c757d;
}
.about-to-right,
.about-to-left {
  cursor: pointer;
}
.about-intro {
  width: 88%;
  height: auto;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-self: start;
  font-size: 2.28rem;
  border-bottom: 1px solid #343a40;
}
.about-otwd-group {
  width: 90%;
  padding: 5%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #495057;
}
.about-weare-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  font-size: 0.57rem;
}
.about-weare-box {
  width: 95%;
  display: flex;
  flex-direction: column;
  color: #c1cbd4;
  padding-right: 5%;
  border-right: 1px solid #96a2ae;
}
.about-weare-headline {
  font-size: 0.6rem;
}
.about-service-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}
.about-service-box span {
  margin-right: 2%;
  padding: 0.2% 1.5% 0.2% 1.5%;
  cursor: pointer;
  background-color: #495057;
  border: 1px solid #dee2e6;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.about-service-box span:hover {
  color: black;
  background-color: #495057;
  border: 1px solid black;
}
.about-title-group {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
}
.right-arrow {
  text-align: right;
  width: auto;
  font-size: 1rem;
  cursor: pointer;
  background-color: #dee2e6;
  color: #171717;
  padding: 1%;
  border-radius: 20%;
  margin: 0 0 1% 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.right-arrow:hover {
  background-color: #171717;
  color: #dee2e6;
}
.about-title-box {
  display: flex;
  justify-content: end;
  align-items: center;
}
.about-title-otwd {
  text-align: right;
  width: 100%;
  font-size: 3rem;
  letter-spacing: -4px;
  line-height: 90%;
  font-weight: bolder;
}
.about-quote-box {
  margin-top: 2%;
  text-align: right;
  width: 100%;
  font-size: 1.2rem;
  line-height: 100%;
  color: #c1cbd4;
}
.contact-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #252a2e;
  margin: 0;
  padding: 0;
}
.contact-channel-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.contact-intro {
  width: 50%;
  height: 100%;
  background-color: #dee2e6;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.28rem;
}
.contact-us-group {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  background-color: #252a2e;
}
.contact-reachus-group {
  margin-top: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80%;
  height: auto;
}
.left-arrow {
  text-align: right;
  width: auto;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e9ecef;
  color: #171717;
  padding: 1.5%;
  border-radius: 20%;
  /* margin: 1% 0 2% 0; */
  margin: 2.5% 5% 0 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.left-arrow:hover {
  background-color: #171717;
  color: #dee2e6;
}
.contact-reachus {
  font-weight: 900;
  text-align: right;
  font-size: 1.5rem;
  line-height: 100%;
  margin: 0;
  padding: 0;
}
.contact-type-box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 5%;
}
.contact-quote {
  border-top: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
  font-size: 0.57rem;
  color: #adb5bd;
}
.contact-type-button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contact-type-button {
  font-size: 0.6rem;
  padding: 4%;
  margin: 2% 0% 2% 0;
  cursor: pointer;
  background-color: #c1cbd4;
  color: #171717;
  border: 1px solid #c1cbd4;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.contact-type-button:hover {
  background-color: #0a0a0a;
  color: #adb5bd;
  border: 1px solid #171717;
}
.contactTypeButtonActive {
  background-color: #0a0a0a;
  color: #adb5bd;
  border: 1px solid #adb5bd;
  cursor: default;
  pointer-events: none;
}
.contact-address-container {
  width: 50%;
  height: 100%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.form-hub-slide-group {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.fourtyPercentSpace {
  visibility: hidden;
  height: 0;
  width: 0;
}
.hub-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 95%;
  font-size: 0.57rem;
}
.we-are-here {
  font-size: 0.57rem;
  margin-bottom: 2%;
}
/*-----------------------START-map------------*/
.contact-map {
  width: 100%;
  height: 40%;
}
.map {
  height: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
.contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
/*-----------------------END-map------------*/
/*-----------------------START-email------------*/
.contact-email {
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.otwd-email {
  font-weight: bold;
}
.gap {
  margin: 0 2% 0 2%;
  width: 100%;
  border-bottom: 1px dashed #e9ecef;
}
/*-----------------------END-email------------*/
/*-----------------------START-sociallink------------*/
.contact-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
  padding: 2% 0 2% 0;
}
.contact-link-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}
.contact-link div:last-child {
  margin-bottom: 0;
}
.contact-link div a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.contact-social-link {
  width: auto;
  font-size: 0.6rem;
  cursor: pointer;
  color: #dee2e6;
}
.social-link {
  margin-left: 10%;
  font-size: 0.6rem;
  color: #dee2e6;
}
/*-----------------------END-sociallink------------*/
/*---------------------------END CONTACT HUB----------------*/
/*---------------------------START CONTACT FORM----------------*/
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 95%;
}
.input-group {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 0.6rem;
}
.input-group label {
  width: 100%;
}
.input-group input {
  width: 96%;
  margin: 1% 0 1% 0;
  padding: 2%;
  border: none;
  background-color: #495057;
  font-size: 0.7rem;
  color: #dee2e6;
}
.input-group input:focus {
  background-color: #e9ecef;
  color: #171717;
  outline: none;
}
.input-group textarea {
  width: 96%;
  margin: 1% 0 1% 0;
  padding: 2%;
  border: none;
  background-color: #495057;
  font-size: 0.7rem;
  color: #dee2e6;
}
.input-group textarea:focus {
  background-color: #e9ecef;
  color: #171717;
  outline: none;
}
.submit-group {
  width: 100%;
  margin: 4% 0 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit-group button {
  width: 99%;
  font-size: 1rem;
  padding: 2% 0 2% 0;
  background-color: black;
  border: none;
  cursor: pointer;
  border: 1px solid #343a40;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #dee2e6;
}
.submit-group button:hover {
  background-color: #adb5bd;
  color: #171717;
  border: 2px solid #adb5bd;
}
.reveal-item {
  width: 80%;
  padding: 20px;
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
