/*----------------------------------------------------------------------PORTRAIT------------------------------*/
@media screen and (max-width: 479px) {
  /*-----------------------------PORTRAIT GENERAL SIZE ---------------------*/
  .world-background-circle {
    top: 75%;
  }
  .c0 {
    width: 160dvh;
    height: 160dvh;
    background-color: #2e3134;
    z-index: 0;
  }
  .c1 {
    width: 140dvh;
    height: 140dvh;
    background-color: #232528;
    z-index: 1;
  }
  .c2 {
    width: 115dvh;
    height: 115dvh;
    background-color: #16191c;
    z-index: 2;
  }
  .c3 {
    width: 100dvh;
    height: 100dvh;
    background-color: #141619;
    z-index: 3;
  }
  .c4 {
    width: 85dvh;
    height: 85dvh;
    background-color: #111416;
    z-index: 4;
  }
  .c5 {
    width: 70dvh;
    height: 70dvh;
    background-color: #0f1113;
    z-index: 5;
  }
  .c6 {
    width: 55dvh;
    height: 55dvh;
    background-color: #0d0e10;
    z-index: 6;
  }
  .c7 {
    width: 40dvh;
    height: 40dvh;
    background-color: #0c0d0f;
    z-index: 7;
  }
  .c8 {
    width: 25dvh;
    height: 25dvh;
    background-color: #070809;
    z-index: 8;
  }
  .c9 {
    width: 10dvh;
    height: 10dvh;
    background-color: #020303;
    z-index: 9;
  }
  .world-core {
    width: 145dvh;
    height: 145dvh;
    bottom: -71%;
    scale: 0.8;
  }
  .world-bear {
    top: 52.5%;
    left: 0;
    transform: rotate(-110deg);
    width: 25.5dvh;
    height: 15dvh;
  }
  .world-core-ribbon {
    width: 120%;
  }

  .world-control-group {
    top: 5%;
    width: 90dvw;
  }
  .world-base-text {
    height: 8dvh;
  }
  .world-title-foma {
    padding: 1% 0 1% 0;
  }
  .sub-text-mobile {
    display: block;
  }
  .sub-text-desktop {
    display: none;
  }
  .world-button-group {
    display: none;
  }
  /*------------------------FONT----------------------*/
  .bear-grid {
    font-size: 1.4rem;
  }
  .world-core-ribbon {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .we-layer-1,
  .we-layer-2 {
    height: 2.2rem; /***-------------------***/
  }
  .world-text {
    font-size: 1.4rem;
  }
  .world-sub-text {
    font-size: 0.8rem;
  }

  .world-title-foma {
    font-size: 2.5rem;
    letter-spacing: -4px;
  }
  .world-quote-box {
    font-size: 0.8rem;
  }
  .world-base-more {
    font-size: 0.8rem;
  }
  /*------------------------FONT----------------------*/
  /*-----------------------------PORTRAIT GENERAL SIZE ---------------------*/
}
@media screen and (max-width: 319px) {
  .world-core {
    width: 125dvh;
    height: 125dvh;
    bottom: -60%;
    scale: 0.72;
  }
  .world-bear {
    top: 50%;
    left: -8%;
  }
  .world-bear-sparkle {
    top: -23%;
    width: 15dvh;
  }
  .world-control-group {
    width: 95dvw;
  }
  .we-layer-1,
  .we-layer-2 {
    height: 2rem; /***-------------------***/
  }
  /*---------------------------NARROW FONT-SIZE FOR PORTRAIT-------------------------*/
  .bear-grid {
    font-size: 1.6rem;
  }
  .world-core-ribbon {
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
  }
  .world-text {
    font-size: 1.62rem;
  }
  .world-sub-text {
    height: 13.5dvh;
    font-size: 0.75rem;
  }
  .world-title-foma {
    font-size: 2.5rem;
    letter-spacing: -4px;
  }
  .world-quote-box {
    font-size: 0.8rem;
  }
  .world-base-more {
    font-size: 0.8rem;
  }

  @media (min-height: 588px) {
    .world-sub-text {
      height: 12dvh;
    }
  }
  /*---------------------------NARROW FONT-SIZE FOR PORTRAIT-------------------------*/
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  /*--------------GENERAL STYLES--------------*/
  .world-bear {
    top: 50%;
    left: -2%;
  }
  .world-core {
    scale: 0.8;
  }
  .world-control-group {
    width: 80dvw;
  }
  /*--------------GENERAL STYLES--------------*/
  /* IPhone SE OLD */
  @media (max-height: 568px) {
    .we-layer-1,
    .we-layer-2 {
      height: 1.8rem; /***-------------------***/
    }
    .world-text {
      font-size: 1.55rem;
    }
    .world-sub-text {
      height: 17dvh;
      font-size: 0.82rem;
    }
    .bear-grid {
      font-size: 1.5rem;
    }
    .world-bear-sparkle {
      top: -12%;
      width: 15dvh;
    }
  }
  /* IPHONE SE NEW,IPHONE 6,7,8  */
  @media (min-height: 569px) and (max-height: 668px) {
    .we-layer-1,
    .we-layer-2 {
      height: 2.4rem; /***-------------------***/
    }
    .bear-grid {
      font-size: 1.65rem;
    }
    .world-bear-sparkle {
      top: -12%;
      width: 15dvh;
    }
    .world-core-ribbon {
      font-size: 0.95rem;
      letter-spacing: 0.25rem;
    }
    .world-text {
      font-size: 2rem;
    }
    .world-sub-text {
      height: 14dvh;
      font-size: 0.85rem;
    }
    .world-title-foma {
      font-size: 2.5rem;
      letter-spacing: -4px;
    }
    .world-quote-box {
      font-size: 0.9rem;
    }
    .world-base-more {
      font-size: 0.9rem;
    }
  }
  /*Galaxy S8+, IPhone 12 PRO,IPHONE 6+,7+,8+,IPHONE X */
  @media (min-height: 669px) and (max-height: 844px) {
    .world-core {
      scale: 0.7;
    }
    .world-control-group {
      width: 85dvw;
    }
    .we-layer-1,
    .we-layer-2 {
      height: 2.4rem; /***-------------------***/
    }
    .world-bear-sparkle {
      top: -12%;
      width: 15dvh;
    }
    .bear-grid {
      font-size: 2rem;
    }
    .world-core-ribbon {
      font-size: 1.25rem;
      letter-spacing: 0.25rem;
    }
    .world-text {
      font-size: 1.9rem;
    }
    .world-sub-text {
      height: 12.5dvh;
      font-size: 0.92rem;
    }

    .world-title-foma {
      font-size: 2.5rem;
      letter-spacing: -4px;
    }
    .world-quote-box {
      font-size: 1rem;
    }
    .world-base-more {
      font-size: 1rem;
    }
  }
  /* Pixel 7, Galaxy S20 ultra, Galaxy A51/71,IPhone XR,IPHONE 14 PRO MAX */
  @media (min-height: 845px) {
    .world-core {
      scale: 0.7;
    }
    .world-control-group {
      width: 88dvw;
    }
    .we-layer-1,
    .we-layer-2 {
      height: 2.4rem; /***-------------------***/
    }
    .world-bear-sparkle {
      top: -12%;
      width: 15dvh;
    }
    .bear-grid {
      font-size: 2.25rem;
    }
    .world-core-ribbon {
      font-size: 1.3rem;
      letter-spacing: 0.25rem;
    }
    .world-text {
      font-size: 2rem;
    }
    .world-sub-text {
      height: 12dvh;
      font-size: 1rem;
    }

    .world-title-foma {
      font-size: 2.5rem;
      letter-spacing: -4px;
    }
    .world-quote-box {
      font-size: 1rem;
    }
    .world-base-more {
      font-size: 1rem;
    }
  }
}
/* @media screen and (min-width: 480px) and (max-width: 721px) { */
@media screen and (min-width: 480px) and (max-width: 767px) {
  /*SURFACE DUO ------------------------- PORTRAIT OPEN*/
  /*-------------------------------------SPACE ADJUSTMENT------*/
  /*-------------------------------------SPACE ADJUSTMENT------*/
  @media (min-height: 845px) {
  }
}
/*----------------------------------------------------------------------PORTRAIT------------------------------*/
