.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  /* background: linear-gradient(
    45deg,
    #d99235,
    #93501c,
    #7d2610,
    #56073c,
    #380757,
    #260757,
    #120a46,
    #082239
  );
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.globe-otwd-group {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  /*Before active*/
  /* Desktop
  width: 55%;*/
  /* Mobile
  width: 110%;*/
  /*After active*/
  /* Desktop
  width: 100%;
  top: 75%;
  transform: rotate(-120deg); */
  /* Mobile
  width: 200%;
  top: 55%;
  transform: rotate(-120deg); */
}
.globe-otwd,
.ballon-otwd,
.cloud-otwd,
.star-otwd,
.bird-otwd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.globe-otwd {
  z-index: 4;
}
.ballon-otwd {
  z-index: 3;
}
.cloud-otwd {
  z-index: 2;
}
.star-otwd,
.bird-otwd {
  z-index: 1;
}

.globe-otwd-img,
.ballon-otwd-img,
.cloud-otwd-img,
.star-otwd-img,
.bird-otwd-img {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
}
