@media screen and (orientation: landscape) {
  .world-control-group {
    width: 35dvw;
  }
  .world-text {
    font-size: 1.45rem;
  }
  .we-layer-1,
  .we-layer-2 {
    height: 1.6rem;
  }
  .world-button-group {
    display: none;
  }
  .world-bear {
    top: 47%;
    left: -4%;
  }
  .speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 2.1rem #4c9ce6;
    border-bottom: solid 0.2rem #214f77;
    bottom: 0.1rem;
    left: 1.5rem;
    width: 0;
    height: 1.2rem;
    transform: rotate(45deg) skewX(60deg);
  }
  /* smaller screensize */
  @media screen and (max-aspect-ratio: 16.2/9) {
    .world-sub-text {
      width: 90%;
      height: 4.8rem;
      padding: 0.6rem 0 0.6rem 0;
      font-size: 0.6rem;
    }
    /*very smaller screen*/
  }
  /* larger screensize */
  @media screen and (min-aspect-ratio: 16.2/9) {
    .world-sub-text {
      width: 80%;
      height: 3.85rem;
      padding: 0.55rem 0 0.55rem 0;
      font-size: 0.55rem;
    }
    @media screen and (max-height: 300px) {
      .world-control-group {
        width: 35dvw;
      }
      .world-sub-text {
        width: 85%;
        height: 3.2rem;
        padding: 0.525rem 0 0.525rem 0;
        font-size: 0.525rem;
      }
      .world-bar {
        height: 4rem;
      }
      .world-bear {
        top: 48%;
        left: -8%;
        width: 32dvh;
        height: 20dvh;
      }
      .speech-bubble:before {
        border: solid 0 transparent;
        border-right: solid 2.2rem #4c9ce6;
        border-bottom: solid 0.2rem #214f77;
        bottom: 0.1rem;
        left: 1.8rem;
        width: 0;
        height: 1.4rem;
        transform: rotate(45deg) skewX(60deg);
      }
      .bear-grid {
        font-size: 0.85rem;
      }
    }
  }
}
@media screen and (orientation: portrait) {
  body,
  html {
    overflow-y: hidden;
  }
  .world-bar-more {
    display: none;
  }
  .world-background-circle {
    top: 75%;
  }
  .c0 {
    width: 160dvh;
    height: 160dvh;
    background-color: #014044;
    z-index: 0;
  }
  .c1 {
    width: 140dvh;
    height: 140dvh;
    background-color: #013b3e;
    z-index: 1;
  }
  .c2 {
    width: 115dvh;
    height: 115dvh;
    background-color: #013537;
    z-index: 2;
  }
  .c3 {
    width: 100dvh;
    height: 100dvh;
    background-color: #012f31;
    z-index: 3;
  }
  .c4 {
    width: 85dvh;
    height: 85dvh;
    background-color: #01292b;
    z-index: 4;
  }
  .c5 {
    width: 70dvh;
    height: 70dvh;
    background-color: #012325;
    z-index: 5;
  }
  .c6 {
    width: 55dvh;
    height: 55dvh;
    background-color: #011d1f;
    z-index: 6;
  }
  .c7 {
    width: 40dvh;
    height: 40dvh;
    background-color: #001719;
    z-index: 7;
  }
  .c8 {
    width: 25dvh;
    height: 25dvh;
    background-color: #001212;
    z-index: 8;
  }
  .c9 {
    width: 10dvh;
    height: 10dvh;
    background-color: #000c0c;
    z-index: 9;
  }
  .sub-text-mobile {
    display: block;
  }
  .sub-text-desktop {
    display: none;
  }
  .world-button-group {
    display: none;
  }
  /*-------------------------------------------*/
  .world-core-ribbon {
    width: 118%;
    font-size: 1.125rem;
    letter-spacing: 0.17rem;
  }
  .ribbon:before,
  .ribbon:after {
    border-width: 0.45rem;
    height: 1.8rem;
  }
  .ribbon:before {
    left: -0.2rem;
    top: 1rem;
  }
  .ribbon:after {
    right: -0.2rem;
    top: -0.3rem;
  }
  .world-bear {
    top: 48%;
    left: -5%;
    width: 28dvh;
    height: 16dvh;
  }
  .speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 2.4rem #4c9ce6;
    border-bottom: solid 0.6rem #214f77;
    bottom: 0rem;
    left: 4rem;
    width: 0;
    height: 3rem;
    transform: rotate(50deg) skewX(50deg);
  }
  .world-text {
    font-size: 1.6rem;
  }
  .we-layer-1,
  .we-layer-2 {
    height: 1.95rem;
  }
  .world-sub-text {
    margin-top: 5%;
    height: 3.75rem;
    padding: 0.75rem 0 0.9rem 0;
    font-size: 0.75rem;
    line-height: 130%;
  }
  /* narrower screensize */
  @media screen and (max-aspect-ratio: 9/16.2) {
    .world-control-group {
      width: 85dvw;
    }
    .world-sub-text {
      width: 82.5%;
    }
    .world-core {
      scale: 0.625;
    }
    .bear-grid {
      font-size: 1.68rem;
    }
    /*very narrow screen*/
    @media screen and (max-width: 300px) {
      .world-sub-text {
        width: 90%;
      }
    }
  }
  /* widener screensize */
  @media screen and (min-aspect-ratio: 9/16.2) {
    .world-control-group {
      width: 85dvw;
    }
    .world-sub-text {
      width: 80%;
    }
    .world-core {
      scale: 0.7;
    }
    .bear-grid {
      font-size: 1.55rem;
    }
  }
}
