/*----------------------------------------------------------------------PORTRAIT------------------------------*/
@media screen and (max-width: 479px) {
  /*-----------------------------PORTRAIT GENERAL SIZE ---------------------*/
  .world-background-circle {
    top: 75%;
  }
  .c0 {
    width: 160dvh;
    height: 160dvh;
    background-color: #014044;
    z-index: 0;
  }
  .c1 {
    width: 140dvh;
    height: 140dvh;
    background-color: #013b3e;
    z-index: 1;
  }
  .c2 {
    width: 115dvh;
    height: 115dvh;
    background-color: #013537;
    z-index: 2;
  }
  .c3 {
    width: 100dvh;
    height: 100dvh;
    background-color: #012f31;
    z-index: 3;
  }
  .c4 {
    width: 85dvh;
    height: 85dvh;
    background-color: #01292b;
    z-index: 4;
  }
  .c5 {
    width: 70dvh;
    height: 70dvh;
    background-color: #012325;
    z-index: 5;
  }
  .c6 {
    width: 55dvh;
    height: 55dvh;
    background-color: #011d1f;
    z-index: 6;
  }
  .c7 {
    width: 40dvh;
    height: 40dvh;
    background-color: #001719;
    z-index: 7;
  }
  .c8 {
    width: 25dvh;
    height: 25dvh;
    background-color: #001212;
    z-index: 8;
  }
  .c9 {
    width: 10dvh;
    height: 10dvh;
    background-color: #000c0c;
    z-index: 9;
  }
  /* .world-core {
    width: 145dvh;
    height: 145dvh;
    bottom: -71%;
    scale: 0.8;
  } */
  /*-----------------------*/
  .world-core {
    width: 125dvh;
    height: 125dvh;
    bottom: -60%;
    scale: 0.8;
  }
  /*------------------------*/
  .world-bear {
    top: 52.5%;
    left: 0;
    transform: rotate(-110deg);
    width: 25.5dvh;
    height: 15dvh;
  }
  .world-core-ribbon {
    width: 120%;
  }

  .world-control-group {
    top: 5%;
    width: 90dvw;
  }
  .world-base-text {
    height: 8dvh;
  }
  .world-title-foma {
    padding: 1% 0 1% 0;
  }
  .sub-text-mobile {
    display: block;
  }
  .sub-text-desktop {
    display: none;
  }
  .world-button-group {
    display: none;
  }
  /*------------------------FONT----------------------*/
  .bear-grid {
    font-size: 1.4rem;
  }
  .world-core-ribbon {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .we-layer-1,
  .we-layer-2 {
    height: 2.2rem; /***-------------------***/
  }
  .world-text {
    font-size: 1.7rem;
  }
  .world-sub-text {
    height: 13.5dvh;

    font-size: 0.8rem;
  }

  .world-title-foma {
    font-size: 2.5rem;
    letter-spacing: -4px;
  }
  .world-quote-box {
    font-size: 0.8rem;
  }
  .world-base-more {
    font-size: 0.8rem;
  }
  /*------------------------FONT----------------------*/
  /*-----------------------------PORTRAIT GENERAL SIZE ---------------------*/
}
