body,
html {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  /*scrollable on mobile*/
  overflow-y: auto;
  background-color: #171717;
}
.content-section {
  width: 100svw;
  height: 100svh;
  /* max-width: 100vw;
  max-height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001719;
}

.windowSize {
  position: fixed;
  top: 0;
  z-index: 1010;
  color: red;
  font-size: large;
}
/*-----------------END content SECTION--------------------*/
