html,
body {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #171717;
  font-size: calc(0.5em + 1vw + 1vh); /*base  font size = 0.57*/
}
.content-section {
  width: 100svw;
  height: 100svh;
  max-width: 100svw;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001719;
}
.content-section #about {
  width: 100lvw;
  height: 100lvh;
}
.windowSize {
  position: fixed;
  top: 0;
  z-index: 1010;
  color: red;
  font-size: small;
}
/*-----------------END content SECTION--------------------*/
