@media screen and (min-width: 767px) and (max-width: 1022px) and (max-height: 420px) {
  /*IPhoneXR,IPhone 12 PRO,Pixel 5,Galaxy S+, Galaxy S20 ultra, Galaxxy A51/71  LANDSCAPE*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 12vh;
    height: 12vh;
  }
  .bubble-handle {
    width: 7vh;
    height: 7vh;
  }
  .bubble-handle-button {
    width: 3.8vh;
    height: 3.8vh;
  }
  .right-hidden-menu a {
    font-size: 1.8rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 6vh;
    height: 6vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1.4vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1.4vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 767px) and (max-width: 1022px) and (min-height: 421px) and (max-height: 767px) {
  /*WINDOW GAP*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 8vh;
    height: 8vh;
  }
  .bubble-handle {
    width: 4vh;
    height: 4vh;
  }
  .bubble-handle-button {
    width: 2.2vh;
    height: 2.2vh;
  }
  .right-hidden-menu a {
    font-size: 1.8rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 5vh;
    height: 5vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1.4vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1.4vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 767px) and (max-width: 1022px) and (min-height: 768px) and (max-height: 1370px) {
  /*IPAD Air,Surface PRO 7, IPad  Portrait*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 5vh;
    height: 5vh;
  }
  .bubble-handle {
    width: 2.6vh;
    height: 2.6vh;
  }
  .bubble-handle-button {
    width: 1.4vh;
    height: 1.4vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -0.8vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -0.8vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .right-hidden-menu a {
    margin-top: 10%;
    font-size: 2.6rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 3.4vh;
    height: 3.4vh;
  }
}
/*----------------------------------------------------------------------------------------------MORE BLOCK------*/
@media screen and (min-width: 1023px) and (max-width: 1279px) and (max-height: 766px) {
  /* Window GAP */
  .bubble-button-hamburger,
  .bubble-button {
    width: 8vh;
    height: 8vh;
  }
  .bubble-handle {
    width: 4vh;
    height: 4vh;
  }
  .bubble-handle-button {
    width: 2vh;
    height: 2vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .right-hidden-menu a {
    margin-top: 2%;
    font-size: 2.4rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 4.2vh;
    height: 4.2vh;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) and (min-height: 767px) and (max-height: 1364px) {
  /*IPAD Air, IPAD PRO,IPAD PRO Landscrape*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 6vh;
    height: 6vh;
  }
  .bubble-handle {
    width: 3.4vh;
    height: 3.4vh;
  }
  .bubble-handle-button {
    width: 1.8vh;
    height: 1.8vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -0.8vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -0.8vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .right-hidden-menu a {
    margin-top: 5%;
    font-size: 2.4rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 3.8vh;
    height: 3.8vh;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px) and (min-height: 1365px) {
  /*IPAD Pro Portrait*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 4.8vh;
    height: 4.8vh;
  }
  .bubble-handle {
    width: 2.8vh;
    height: 2.8vh;
  }
  .bubble-handle-button {
    width: 1.4vh;
    height: 1.4vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -0.8vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -0.8vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .right-hidden-menu a {
    margin-top: 8%;
    font-size: 2.4rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 3vh;
    height: 3vh;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) and (max-height: 1022px) {
  /*Surface PRO 7  Landscape*/
  .bubble-button-hamburger,
  .bubble-button {
    width: 8vh;
    height: 8vh;
  }
  .bubble-handle {
    width: 4.6vh;
    height: 4.6vh;
  }
  .bubble-handle-button {
    width: 2.4vh;
    height: 2.4vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .right-hidden-menu a {
    margin-top: 2%;
    font-size: 2.4rem;
  }
  .nav-dot-group a,
  .nav-dot-group-dop div {
    width: 4vh;
    height: 4vh;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) and (min-height: 1023px) {
  .bubble-button-hamburger,
  .bubble-button {
    width: 6.6vh;
    height: 6.6vh;
  }
  .bubble-handle {
    width: 3.6vh;
    height: 3.6vh;
  }
  .bubble-handle-button {
    width: 2vh;
    height: 2vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
