.bubble-button-hamburger,
.bubble-button {
  position: fixed;
  right: 0.5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebebeb;
  border-radius: 50%;
  width: 8.7vh;
  height: 8.7vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.bubble-button {
  right: 0.5%;
  top: 15%;
}
.bubble-handle,
.bubble-handle-button {
  position: absolute;
  border-radius: 50%;
  z-index: 40;
}
.bubble-handle {
  width: 5vh;
  height: 5vh;
  background-color: #ebebeb;
  right: 0;
  bottom: 0;
  transform: translate(0, 70%);
  cursor: grab;
}
.bubble-handle.grabbing {
  cursor: grabbing;
}
.bubble-handle-button {
  width: 2.6vh;
  height: 2.6vh;
  background-color: #171717;
  transform: translate(50%, 50%);
}
.bubble-handle-button:hover,
.bubble-handle-button:active {
  background-color: #db460c;
}
.bubble-button .hamburger-icon,
.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
  content: "";
  position: absolute;
  height: 2.4px;
  background-color: #495057;
  transition: all 0.4s;
}
.bubble-button .hamburger-icon {
  width: 50%;
  position: relative;
}
.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
  width: 100%;
}
.bubble-button .hamburger-icon::before {
  top: -1.5vh;
}
.bubble-button .hamburger-icon::after {
  bottom: -1.5vh;
}
.menu-active .hamburger-icon {
  background-color: transparent;
}
.menu-active .hamburger-icon::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-active .hamburger-icon::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.bubble-button:hover .hamburger-icon,
.bubble-button:hover .hamburger-icon::before,
.bubble-button:hover .hamburger-icon::after {
  background-color: #e74c3c;
}
.menu-active:hover .hamburger-icon {
  background-color: transparent;
}
/* Menu */
.hidden-menu {
  position: fixed;
  left: 0;
  top: -110%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 999;
  transition: top 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.menu-group {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.term-group {
  width: 90%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #6c757d;
  margin: 2% 5% 2% 5%;
}
.term-group span {
  color: white;
  margin: 0 1% 0 1%;
}
.hidden-menu.active {
  top: 0;
}
.right-hidden-menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 98vh;
  width: 40%;
  padding: 1% 5% 1% 5%;
}
.left-hidden-menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}
#menuLogo {
  width: 25%;
  height: auto;
}
.right-hidden-menu a {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, padding 0.3s ease;
  margin-top: 2%;
  padding: 1%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.right-hidden-menu a:hover, /*----------------------------------*/
.left-hidden-menu a:hover {
  color: #171717;
  background-color: white;
  padding: 3%;
}
.bubbleLinkActive {
  /* background-color: #dee2e6; */
  background-color: #6c757d;
  color: #171717;
}
@media (max-width: 768px) {
  .right-hidden-menu a {
    font-size: 2.6rem;
  }
  #menuLogo {
    padding: 10%;
    position: relative;
    width: 40%;
    height: auto;
  }
}
/*-----------------------3 DOTS SET------------------------------------*/

.nav-dot-group,
.nav-dot-group-dop {
  position: fixed;
  right: 0.5%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.nav-dot-group-dop {
  z-index: 39;
}
.nav-dot-group a,
.nav-dot-group-dop div {
  text-decoration: none;
  transition: background-color 0.3s ease, padding 0.3s ease;
  border-radius: 50%;
  width: 4.2vh;
  height: 4.2vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.nav-dot-group-dop div {
  background-color: #212529;
}
.nav-dot-group a {
  color: white;
  text-decoration: none;
}
.nav-dot-group a:hover {
  color: #171717;
  background-color: white;
}
.navLinkActive {
  background-color: #6c757d;
}
.nav-dot-group a:nth-child(1),
.nav-dot-group-dop div:nth-child(1) {
  margin: 2vh 0 1vh 0;
}
.nav-dot-group a:nth-child(2),
.nav-dot-group-dop div:nth-child(2) {
  margin: 1vh 0 1vh 0;
}
.nav-dot-group a:nth-child(3),
.nav-dot-group-dop div:nth-child(3) {
  margin: 1vh 0 2vh 0;
}
/*------------------------------PORTRAIT BASE ----------------------*/
@media (max-width: 390px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  /* .nav-dot-group-dop div,
  .nav-dot-group a {
    width: 4.2vh;
    height: 4.2vh;
  } */
  .bubble-button-hamburger,
  .bubble-button {
    width: 7.6vh;
    height: 7.6vh;
  }
  .bubble-handle {
    width: 4.4vh;
    height: 4.4vh;
  }
  .bubble-handle-button {
    width: 2.2vh;
    height: 2.2vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}
@media (min-width: 391px) and (max-width: 413px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .bubble-button-hamburger,
  .bubble-button {
    width: 6.8vh;
    height: 6.8vh;
  }
  .bubble-handle {
    width: 3.8vh;
    height: 3.8vh;
  }
  .bubble-handle-button {
    width: 2vh;
    height: 2vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .bubble-button-hamburger,
  .bubble-button {
    width: 7.6vh;
    height: 7.6vh;
  }
  .bubble-handle {
    width: 4.4vh;
    height: 4.4vh;
  }
  .bubble-handle-button {
    width: 2.2vh;
    height: 2.2vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .bubble-button-hamburger,
  .bubble-button {
    width: 5.8vh;
    height: 5.8vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .bubble-handle {
    width: 3.6vh;
    height: 3.6vh;
  }
  .bubble-handle-button {
    width: 1.8vh;
    height: 1.8vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}
@media (min-width: 913px) and (max-width: 1023px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .bubble-button-hamburger,
  .bubble-button {
    width: 7.6vh;
    height: 7.6vh;
  }
  .bubble-handle {
    width: 4.4vh;
    height: 4.4vh;
  }
  .bubble-handle-button {
    width: 2.2vh;
    height: 2.2vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .bubble-button-hamburger,
  .bubble-button {
    width: 5.8vh;
    height: 5.8vh;
  }
  .bubble-button .hamburger-icon::before {
    top: -1vh;
  }
  .bubble-button .hamburger-icon::after {
    bottom: -1vh;
  }
  .menu-active .hamburger-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .bubble-handle {
    width: 3.6vh;
    height: 3.6vh;
  }
  .bubble-handle-button {
    width: 1.8vh;
    height: 1.8vh;
  }
  .term-group {
    margin: 2% 5% 20% 5%;
  }
}
@media (min-width: 1366px) {
}
/*------------------------------PORTRAIT BASE ----------------------*/
