/*-----------------START MEDIA RESPONSIVE--------------------*/
@media screen and (max-width: 820px) {
  .nav-dot-group,
  .nav-dot-group-dop {
    top: 40%;
  }
  .term-group {
    font-size: 0.7rem;
  }
  .term-group-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
  }
  .term-group-container-left {
    padding: 0 2% 0 2%;
    width: 100%;
    justify-content: start;
    align-items: center;
    border: none;
    margin-bottom: 1%;
  }
  .term-group-container-right {
    padding: 0 2% 0 2%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
