#nav-header,
#main-body {
  display: none;
}
.pre-loader {
  position: fixed;
  top: -20vh;
  left: 0;
  width: 100vw;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 9999;
  background-color: #e9ecef;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.otwd-loader {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 6%;
  height: auto;
  overflow: hidden;
  opacity: 1;
  z-index: 10000;
  transition: all 0.5s linear;
  padding: 2%;
  /* background-color: #343a40; */
}

#flashLOGO {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 94%;
  height: auto;
  filter: grayscale(100%);
  z-index: 10001;
  padding: 30% 1% 30% 5%;
  margin: 0;
  border: 2px solid;
  border-color: #ced4da;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progressbar {
  top: 10%;
  position: relative;
  width: 100%;
  border: 2px solid rgba(99, 99, 99, 0.3);
  height: 8%;
  text-align: center;
  transition: height 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  margin-bottom: 50%;
}

.progress {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.3);
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  color: rgb(99, 99, 99, 0.9);
}
.otwd-circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: -50%;
  left: -50%;
  transition: all 3s ease-in-out;
  border: 1px solid rgb(58, 58, 58);
}
#otwd-circle-1 {
  background-color: #ced4da;
}
#otwd-circle-2 {
  background-color: #495057;
}
#otwd-circle-3 {
  background-color: black;
}
.pre-layer-1 {
  top: 1vh;
  position: relative;
  width: 100vw;
  height: 40vh;
  background-color: #3ab2a4;
  transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-bottom: 1px solid #ffffff;
}
.pre-layer-1 div {
  width: 100%;
}
.pre-layer-1-1 {
  background-color: #343a40;
  height: 40%;
  border-bottom: 1px solid #ffffff;
}
.pre-layer-1-2 {
  background-color: #6c757d; /*495057*/
  height: 30%;
  border-bottom: 1px solid #ffffff;
}
.pre-layer-1-3 {
  background-color: #ced4da;
  height: 20%;
  border-bottom: 1px solid #ffffff;
}
.pre-layer-1-4 {
  background-color: #e9ecef; /*adb5bd*/
  height: 10%;
  border-bottom: 1px solid #ffffff;
}
.fade-out {
  top: -120%;
  height: 140vh;
  transition: all 1.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@media (max-width: 768px) {
  .otwd-loader {
    width: 20%;
    margin-bottom: 20%;
  }
}
/* @media (max-width: 400px) {
  #flashLOGO {
    width: 30%;
  }
  .progressbar {
    width: 27%;
    height: 6%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  #flashLOGO {
    width: 30%;
  }
  .progressbar {
    width: 26%;
    height: 7%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #flashLOGO {
    width: 30%;
  }
  .progressbar {
    width: 26%;
    height: 7%;
  }
} */

/* @media (min-width: 768px) and (max-width: 992px) {
  .OTWDLOGOFLASH {
  }
  .progressbar {
  }
}

@media (min-width: 992px) {
  .OTWDLOGOFLASH {
  }
  .progressbar {
  }
} */
