/*-----------------START WORK SECTION--------------------*/
.work-menu-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.work-menu-header {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: red;
}
.work-menu-title {
  font-size: 1.6rem;
  margin: 0;
  width: auto;
  color: #ced4da;
}
.selectedBr {
  display: none;
}
.work-menu-types {
  margin: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #6c757d;
}
.work-menu-types div {
  margin-right: 7%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  padding: 2% 6% 2% 6%;
  border: 2px solid;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.work-menu-types div:last-child {
  margin-right: 0;
}
.workTypeActive {
  color: #ced4da;
  border: 2px solid #212529;
}
.work-list-container {
  width: 100%;
  height: 85%;
  background-color: #adb5bd;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.work-list-container > div {
  display: none;
}
.work-list-container > div:first-child {
  display: flex;
}
.no-of-app,
.no-of-mobile,
.no-of-analytic {
  position: absolute;
  top: 1%;
  left: 1%;
  transform: translateY(0);
  width: auto;
  height: auto;
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  padding: 0.4%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  color: #212529;
}
.no-of-app span:nth-child(2),
.no-of-mobile span:nth-child(2),
.no-of-analytic span:nth-child(2) {
  font-weight: lighter;
}
.work-arrow-group {
  position: absolute;
  bottom: 20%;
  right: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #171717;
  padding: 0 1.2% 0 1%;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  margin-right: -1%;
}
.work-left-arrow,
.work-right-arrow {
  width: auto;
  height: auto;
  color: #212529;
  font-size: 2.4rem;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 3s ease-in;
}
.work-left-arrow {
  color: #adb5bd;
  cursor: default;
}
.moreWork {
  color: #adb5bd;
  cursor: pointer;
}
.noMoreWork {
  color: #212529;
  cursor: default;
}
.app-list,
.mobile-list {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.app-list:hover {
  cursor: grab;
}
.app-list-item,
.mobile-list-item {
  flex: 0 0 50%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
}
.work-block {
  padding: 2%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.work-block-no {
  font-size: 5rem;
}
.work-block-title {
  width: 100%;
}
.work-block-title p {
  white-space: normal;
  word-break: break-word;
  font-size: 3rem;
  padding: 0;
  margin: 0 0 2% 0;
  border-bottom: 1px solid #171717;
}
.work-block-subtitle {
  width: 100%;
}
.work-block-subtitle p {
  font-size: 2rem;
  word-break: break-word;
  white-space: normal;
  padding: 0;
  margin: 0;
}
