.bubble-button-hamburger,
.bubble-button {
  position: fixed;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebebeb;
  border-radius: 50%;
  width: 8.7vh;
  height: 8.7vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.bubble-button {
  right: 2%;
  top: 18%;
}
.bubble-handle,
.bubble-handle-button {
  position: absolute;
  border-radius: 50%;
  z-index: 40;
}
.bubble-handle {
  width: 5vh;
  height: 5vh;
  background-color: #ebebeb;
  right: 0;
  bottom: 0;
  transform: translate(0, 70%);
  cursor: grab;
}
.bubble-handle.grabbing {
  cursor: grabbing;
}
.bubble-handle-button {
  width: 2.6vh;
  height: 2.6vh;
  background-color: #171717;
  transform: translate(50%, 50%);
}
.bubble-handle-button:hover,
.bubble-handle-button:active {
  background-color: #db460c;
}
.bubble-button .hamburger-icon,
.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
  content: "";
  position: absolute;
  height: 2.4px;
  background-color: #666;
  transition: all 0.4s;
}
.bubble-button .hamburger-icon {
  width: 50%;
  position: relative;
}
.bubble-button .hamburger-icon::before,
.bubble-button .hamburger-icon::after {
  width: 100%;
}
.bubble-button .hamburger-icon::before {
  top: -1.5vh;
}
.bubble-button .hamburger-icon::after {
  bottom: -1.5vh;
}
.menu-active .hamburger-icon {
  background-color: transparent;
}
.menu-active .hamburger-icon::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-active .hamburger-icon::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.bubble-button:hover .hamburger-icon,
.bubble-button:hover .hamburger-icon::before,
.bubble-button:hover .hamburger-icon::after {
  background-color: #e74c3c;
}
.menu-active:hover .hamburger-icon {
  background-color: transparent;
}
/* Menu */

.hidden-menu {
  position: fixed;
  left: 0;
  top: -110%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  z-index: 90;
  transition: top 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hidden-menu.active {
  top: 0;
}
.right-hidden-menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 98vh;
  width: 40%;
  padding: 1% 5% 1% 5%;
}
.left-hidden-menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  /* padding: 2%; */
  /* background-color: cadetblue; */
}
.otwdLogo {
  padding: 5%;
  position: relative;
  width: 25%;
  height: auto;
  /* background-color: red; */
}

.right-hidden-menu a {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, padding 0.3s ease;
  margin-top: 2%;
  padding: 1%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.right-hidden-menu a:hover,
.left-hidden-menu a:hover {
  background-color: #000000;
  padding: 3%;
}
.navLinkActive {
  background-color: #039fa8;
}
@media (max-width: 768px) {
  .right-hidden-menu a {
    font-size: 2.6rem;
  }
  .otwdLogo {
    padding: 5%;
    position: relative;
    width: 90%;
    height: auto;
  }
}
