/*-----------------START WORK SECTION--------------------*/
.work-menu-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.work-menu-header {
  width: 90vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 2% 0 1% 0;
}
.work-menu-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.selectedBr {
  display: none;
}
.work-menu-types {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: end;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.work-menu-types div {
  margin-right: 7%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.work-menu-types div:last-child {
  margin-right: 0;
}
.work-menu-types span {
  margin-right: 7%;
}
.workTypeActive {
  color: #da4737;
}
.work-list-container {
  width: 90vw;
  height: 100%;
  background-color: #49c5b6;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.no-of-work {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  color: wheat;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  padding: 0.4%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
}
.no-of-work span:nth-child(2) {
  font-weight: lighter;
}
.work-arrow-group {
  position: absolute;
  bottom: 20%;
  right: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #ebebeb;
  /* background-color: rgb(235, 235, 235, 0.7); */
  padding: 0 1.2% 0 1%;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  margin-right: -1%;
}
.work-left-arrow,
.work-right-arrow {
  width: auto;
  height: auto;
  color: #e74c3c;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 3s ease-in;
}
.work-left-arrow {
  color: #dca8a2;
  cursor: default;
}
.moreWork {
  color: #da4737;
  cursor: pointer;
}
.noMoreWork {
  color: #dca8a2;
  cursor: default;
}
.work-list {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.work-list-item {
  flex: 0 0 50%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: wheat;
  font-size: 3rem;
  /* background-color: #039fa8; */
  scroll-snap-align: start;
}
/*-----------------START MEDIA RESPONSIVE--------------------*/
@media (max-width: 768px) {
  .work-menu-title {
    font-size: 1.7rem;
    line-height: 90%;
  }
  .selectedBr {
    display: contents;
  }
  .work-menu-header {
    margin: 4% 0 2% 0;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    /* background-color: #da4737; */
  }
  .work-menu-title {
    width: 100%;
    /* background-color: chartreuse; */
  }
  .work-menu-types {
    margin-top: 2%;
    padding-top: 2%;
    width: 100%;
    align-self: end;
    justify-content: end;
    align-items: end;
    font-size: 1.2rem;
    border-top: 1px dashed #171717;
    /* background-color: brown; */
  }
  .work-menu-types div {
    margin-right: 2.5%;
  }
  .work-menu-types span {
    margin-right: 2.5%;
  }
  .no-of-work {
    font-size: 2rem;
    border: none;
  }
  .work-arrow-group {
    /* top: 80%; */
    padding: 0 1.2% 0 4%;
    bottom: 30%;
  }
  .work-left-arrow,
  .work-right-arrow {
    font-size: 2.3rem;
  }
}
/*-----------------END MEDIA RESPONSIVE--------------------*/
/*-----------------END WORK SECTION--------------------*/
