/*-----------------START WORK SECTION--------------------*/
.work-menu-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.work-menu-header {
  margin-top: 5vh;
  width: 90vw;
  height: auto;
  position: relative;
}
.work-menu-title {
  font-size: 3.7rem;
  font-weight: 700;
}
.selectedBr {
  display: none;
}
.work-menu-types {
  margin: 1.5% 0 1.5% 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  user-select: none;
}
.work-menu-types div {
  margin-left: 2%;
  cursor: pointer;
  position: relative;
  color: #666666;
}
.work-menu-types div:hover {
  color: #222;
}
.work-menu-types div:last-child {
  margin-right: 1%;
}
.work-menu-types div::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 14%;
  background-color: #e74c3c; /* Change this color to your desired underline color */
  bottom: -35%;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.work-menu-types div.active {
  color: #da4737; /* Set the text color for active items */
}
.work-menu-types div.active::before {
  transform: scaleX(1);
  transform-origin: var(--transform-origin);
}
.work-menu-types div.active:last-child::before {
  --transform-origin: right;
}

.work-menu-types div.active:first-child::before {
  --transform-origin: right;
}

.work-list-container {
  width: 90vw;
  height: 100%;
  background-color: #039fa8;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.no-of-work {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  color: wheat;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  padding: 0.4%;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
}
.no-of-work span:nth-child(2) {
  font-weight: lighter;
}
.work-arrow-group {
  position: absolute;
  bottom: 20%;
  right: 0;
  transform: translateY(0);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #ebebeb;
  /* background-color: rgb(235, 235, 235, 0.7); */
  padding: 0 1.2% 0 1%;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  margin-right: -1%;
}
.work-left-arrow,
.work-right-arrow {
  width: auto;
  height: auto;
  color: #e74c3c;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 3s ease-in;
}
.work-left-arrow {
  color: #dca8a2;
  cursor: default;
}

.moreWork {
  color: #da4737;
  cursor: pointer;
}
.noMoreWork {
  color: #dca8a2;
  cursor: default;
}

.work-list {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.work-list-item {
  flex: 0 0 50%;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: wheat;
  font-size: 3rem;
  /* background-color: #039fa8; */
  scroll-snap-align: start;
}

/*-----------------START MEDIA RESPONSIVE--------------------*/
@media (max-width: 768px) {
  .work-menu-title {
    font-size: 2.8rem;
    line-height: 90%;
  }
  .selectedBr {
    display: contents;
  }
  .work-menu-types {
    margin: 4% 0 2% 0;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 1.2rem;
  }
  .work-menu-types div {
    text-align: end;
    width: 100%;
    margin-bottom: 4%;
    border-bottom: 1px solid #666666;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .work-menu-types div.active {
    color: #e74c3c; /* Set the text color for active items */
    border-bottom: 1px solid #e74c3c;
    width: 100%;
    user-select: none;
  }
  .work-menu-types div::before {
    bottom: -18%;
    width: 16%;
  }
  .no-of-work {
    font-size: 2rem;
    border: none;
  }
  .work-arrow-group {
    /* top: 80%; */
    padding: 0 1.2% 0 4%;
    bottom: 30%;
  }
  .work-left-arrow,
  .work-right-arrow {
    font-size: 2.3rem;
  }
}
/*-----------------END MEDIA RESPONSIVE--------------------*/
/*-----------------END WORK SECTION--------------------*/
